.nav-container-left
  h1
    a(href="#")
    img(src="assets/logo-beta.jpg" alt="Wallogram")
  .buttons
    a
      i(class="fa fa-bars")
      i(class="fa fa-times")
    a
      i(class="fa fa-gamepad")
  nav
    ul
      li 
        a(href="#")=__("About us")
      li 
        a(href="#")=__("Team")
      li 
        a(href="#")=__("Pricing")
      li 
        a(href="#")=__("Contact")
.nav-container-right
  .user-unknown
    .user-log-sign-in 
      a(href="lobby")
        i(class="fa fa-key")
        h2=__("My Account")
      a(href="lobby")
        i(class="fa fa-pencil")
        h2=__("Sign In")
  .user-settings
    .user-name
      i(class="fa fa-user")
      h2=__("User name")
      a(class="toggle-settings")
        i(class="fa fa-caret-down")
        i(class="fa fa-caret-up")
    ul
      li
        a(href="#")=__("Edit my profile")
      li
        a(href="#")=__("Account's settings")
      li
        a(href="#")=__("Disconnect")
    
  .language-setting
    a(href="/setlocale/en" class="english") EN
    a(href="/setlocale/fr" class="french") FR

